@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@font-face {
    font-family: "Supercell";
    src: url('../fonts/Supercell-magic-webfont.ttf');
}

.navbar {
    background-color: #1c1d1e
}

.ui.inverted.menu .active.item:hover {
    background-color: transparent !important;
}

.div-create {
    padding-top: 5px;
}

.div-cards-selector {
    margin-top: 25px;
    text-align: center;
}
.select-orderby {
    margin-bottom: 8px
}
.deck {
    width: 420px;
    margin: auto;
    display: block;
    height: 260px;
    margin-bottom: 0;
    position: relative;
    border-radius: 16px;
    text-align: center;
    background-color: #fafafa;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 8px 8px 15px 4px rgba(0, 0, 0, 0.66)
}
.home-div-deck {
    margin-top: 5%
}

.inputs > * {
    padding-bottom: 7px
}

.clash-card {
    float: left;
    margin: 5px;
    padding: 0px 4px 4px 0px;
    border-radius: 15px;
}

.card-group {
    display: inline-block;
    padding: 3px
}

.deck-card {
    margin: 20px 0;
    vertical-align: top;
    height: 80px;
    position: relative;
    min-height: 1px;
    float: left;
    width: 25%;
}

.card {
    height: 99px;
    width: 80px;
}

.elixir {
    height: 25px;
    vertical-align: bottom;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cost {
    height: 32px;
    width: 55px;
    text-align: center;
    padding-top: 7px;
    padding-right: 28px;
    font-size: 1.1rem;
    font-family: 'Supercell';
    color: #fff;
    background: url(/images/cost.png) no-repeat;
    background-size: contain;
    margin-top: -5px;
    position: absolute;
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 2px #000;
}

.small-cost {
    height: 25px;
    width: 45px;
    text-align: center;
    padding-top: 3px;
    padding-right: 25px;
    font-size: 0.80rem;
    font-family: 'Supercell';
    color: #fff;
    background: url(/images/cost.png) no-repeat;
    background-size: contain;
    margin-top: -5px;
    position: absolute;
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 2px #000;
}

.missing-card {
    background-color: #2d2e30;
    color: #fafafa;
    line-height: 99px;
    display: inline-block;
    border-radius: 10px
}

.missing-card-text {
    display: inline-block;
    line-height: 14px;
    vertical-align: middle;
    font-weight: 500;
    padding: 5px
}

body {
    background-color: #1c1d1e;
    font-family: 'Roboto', sans-serif;
    color: #fafafa !important;
}

.home {
    text-align: center;
    margin-top: 11%;
}
.home-div-header {
    color: #fafafa
}

.homeHeader {
    font-size: 4em!important;
}

.homeSubtitle {
    font-size: 1.7em !important;
    font-weight: normal
}

.white-spinner {
    color: #fafafa
}

.homeSpinner {
    text-align: center;
}

.draggable-card {
    cursor: pointer;
    cursor: hand;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cards-list {
    padding-top: 18px
}

.finalize h2 {
    left: 0
}


/* ----------------------------------------------
 * Generated by Animista on 2017-3-25 12:40:13
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        opacity: 1
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -.5em;
        opacity: 0
    }
    40% {
        opacity: .6
    }
    100% {
        opacity: 1
    }
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    -moz-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    -moz-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scale-out-center {
    -webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    -moz-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2017-3-25 17:55:18
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }
}

@keyframes scale-out-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1
    }
}


/* ----------------------------------------------
 * Generated by Animista on 2017-3-25 17:51:46
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.finalizeBtn {
    width: 180px;
    margin-bottom: 15px
}